<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="<%= csrfToken %>" name="csrf-token">
  <title>Sports Scheduler</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <link href="./css/styles.css" rel="stylesheet">
  <style>
    /* Add any additional custom styles here */
  </style>
</head>
<body class="bg-gray-100 font-sans">

  <!-- Header -->
  <%- include("header.ejs") %> 

  <!-- Main Content -->
  <div class="container mx-auto my-8 px-4">

    <!-- Greeting -->
    <div class="bg-white p-6 rounded shadow-md mb-8">
      <h1 class="text-3xl font-semibold mb-2">Hey! <%= currentuser.firstName %> <%= currentuser.lastName %></h1>
      <% if (currentuser.role === 'Admin') { %>
        <h2 class="text-lg italic mb-4">Administrative Actions</h2>
        <div class="flex space-x-4">
          <a href="/sport" class="underline text-indigo-700 text-lg">Create a new sport</a>
          <a href="/report" class="underline text-indigo-700 text-lg">View reports</a>
        </div>
      <% } else { %>
        <h2 class="text-lg italic">Player Actions</h2>
      <% } %>
    </div>

    <!-- Upcoming Sessions -->
<div class="bg-white p-6 rounded shadow-md mb-8">
  <% if(upcomingsessions.length < 1) { %>
    <p class="text-lg font-semibold">You have not joined any sessions</p>
  <% } else { %>
    <%- include('sessionslist', {title:"Upcoming Sessions",data: upcomingsessions,flag:0}) %>
  <% } %>
</div>

<!-- Sports Heading -->
<h2 class="text-2xl font-bold mb-4 ml-2">Sports</h2>

    <!-- Sports Lists -->
    <div class="grid grid-cols-2 gap-4">
      <% if (usersports.length < 1 && othersports.length < 1){ %>
        <div class="col-start-1 col-span-2 bg-white p-6 rounded shadow-md">
          <p class="text-lg font-semibold">There are no sports available for scheduling a session</p>
        </div>
      <% } else { %>  
        <% if (usersports.length > 0) { %>
          <div class="bg-white p-6 rounded shadow-md">
            <%- include('sportslist.ejs', {title:"Created by you",data: usersports,currentuser:currentuser}) %>
          </div>
          <div class="bg-white p-6 rounded shadow-md">
            <%- include('sportslist.ejs', {title:"Created by other users",data: othersports,currentuser:currentuser}) %>
          </div>
        <% } else { %>
          <div class="col-start-1 col-span-2 bg-white p-6 rounded shadow-md">
            <%- include('sportslist.ejs', {title:"Created by other users",data: othersports,currentuser:currentuser}) %>
          </div>
        <% } %>
      <% } %>    
    </div>
    </div>
</body>
</html>
