<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="csrf-token" content="<%= csrfToken %>">
  <link href="/css/styles.css" rel="stylesheet">
  <title>Sports Scheduler</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css">
</head>
<body class="bg-gray-100 font-sans">

  <!-- Header -->
  <%- include("header.ejs") %>

  <!-- Main Content -->
  <div class="container mx-auto px-4 py-8">

    <!-- Navigation -->
    <div class="flex justify-between items-center">
      <a href="/home" class="text-indigo-700 text-xl underline">Home</a>
    </div>

    <div class="flex items-center justify-center mb-4">
      <% if (current_sport.userId == userid) { %>
          <h2 class="text-3xl font-bold text-indigo-700 mb-4 mt-1 underline"><%= current_sport.sport_name %></h2> 
          <span class="text-indigo-700 text-lg">
              <a href="/editsport/<%= current_sport.sport_name %>/<%= current_sport.id %>" class="ml-4 mr-2 hover:underline">Edit</a>
              <a href="/deletesport/<%= current_sport.id %>" class="hover:underline">Delete</a>
          </span>
      <% } else { %>
          <h2 class="text-3xl font-bold text-indigo-700 mb-4"><%= current_sport.sport_name %></h2> 
      <% } %>
  </div>
  
    

    <!-- Sport Details -->
    <div class="grid grid-cols-5 gap-6">
      <div class="col-start-2 col-span-3 bg-white rounded-lg shadow-md p-6">
           <!-- Sessions Section -->
        <div class="flex justify-between items-center mb-4">
          <h3 class="text-2xl text-indigo-700 font-bold">Sessions</h3>
          <div class="flex space-x-4">
            <a href="/sportsession/<%= current_sport.sport_name %>/<%= current_sport.id %>" class="text-indigo-700 text-lg hover:underline">Create a new session</a>
            <a href="/previoussession/<%= current_sport.id %>" class="text-indigo-700 text-lg hover:underline">View previous sessions</a>
          </div>
        </div>

        <!-- Sessions Lists -->
        <%- include('sessionslist', {title:"Created by you",data: usersessions, flag:0}) %>
        <%- include('sessionslist', {title:"Other Available Sessions",data: othersessions,flag:0}) %>
        <%- include('sessionslist', {title:"Joined Sessions",data: joinedsessions,flag:0}) %>
        <%- include('sessionslist', {title:"Cancelled Sessions",data: cancelsessions,flag:2}) %>
      </div>
    </div>

  </div>
</body>
</html>
